/* Source: https://elad.medium.com/normalize-css-or-css-reset-9d75175c5d1e */

*,
*::before,
*::after {
  box-sizing: border-box;
}
button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}
cite {
  font-style: normal;
}
fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}
/* no list-style for list-items inside a nav */
nav li {
  list-style: none;
}

/* set default style for definition lists */
dt {
  font-weight: bold;
}
dd {
  margin: 0;
  padding: 0 0 0.5em 1em;
}

/* set default font-style of address to normal instead of italic */
address {
  font-style: normal;
}
