.site-header__inner__nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 0;
  background: var(--color-secondary);
  transition: max-height 800ms ease-in-out;
  z-index: 9999;
  overflow: hidden;

  @mixin atLarge {
    position: relative;
    max-height: max-content;
    background: transparent;
    width: auto;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: var(--site-spacing-left);
    padding-right: var(--site-spacing-right);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    transition: visibility 800ms ease-in-out 100ms;

    @mixin atLarge {
      flex-direction: row;
      visibility: visible;
      padding: 0;
      margin: 0;
    }

    /* Menu Items */
    li a {
      display: block;
      padding: 0 0 2rem 0;

      @mixin atLarge {
        display: block;
        padding: 0 2rem 0 0;
      }
    }

    li:last-of-type a {
      @mixin atLarge {
        padding-right: 0;
      }
    }

    /* Sub-Menus */
    ul {
      display: none;
    }
  }

  &.responsive {
    max-height: 100rem;
    transition: max-height 600ms ease-in-out 200ms;

    nav ul {
      visibility: visible;
      transition: visibility 800ms ease-in-out 100ms;
    }
  }
}
