/*---
title: Heading
section: Atoms

*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
  font-weight: 300;
}

h1 {
  /* 40px */
  /* font-size: 4rem; */
  font-size: clamp(3.6rem, 3.8vw, 4rem);
}
h2 {
  /* 32px */
  /* font-size: 3.2rem; */
  font-size: clamp(2.8rem, 3vw, 3.2rem);
}
h3 {
  /* 26px */
  /* font-size: 2.6rem; */
  font-size: clamp(2.2rem, 2.4vw, 2.6rem);
}
h4 {
  /* 22px */
  /* font-size: 2.2rem; */
  font-size: clamp(1.8rem, 2vw, 2.2rem);
}
h5 {
  /* 20px */
  /* font-size: 2rem; */
  font-size: clamp(1.6rem, 1.8vw, 2rem);
}
h6 {
  /* 20px */
  /* font-size: 2rem; */
  font-size: clamp(1.6rem, 1.8vw, 2rem);
}
