/**
* Toggle Btn for primary menu
*
*/
.mobile-menu-toggle {
  background: transparent;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;

  /* set cursor to pointer by default */
  &:hover {
    cursor: pointer;
  }

  /* &:focus {
    outline: none;
  } */

  /**
  * Burger btn for primary menu
  * Style and animation
  *
  */
  .mobile-menu-burger-btn {
    display: block;
    background-color: black;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    position: relative;
    transition: background-color 200ms 400ms;

    &::before {
      content: '';
      display: block;
      background-color: black;
      height: 3px;
      border-radius: 3px;
      position: relative;
      top: -6px;
      transition: top 400ms 400ms, transform 400ms;
    }

    &::after {
      content: '';
      display: block;
      background-color: black;
      height: 3px;
      border-radius: 3px;
      position: relative;
      top: 3px;
      transition: top 400ms 400ms, transform 400ms;
    }

    &--is-active {
      display: block;
      background-color: transparent;
      height: 3px;
      border-radius: 3px;
      position: relative;
      transition: background-color 200ms;

      &::before {
        content: '';
        display: block;
        background-color: black;
        height: 3px;
        border-radius: 3px;
        position: relative;
        top: 0px;
        transform: rotate(45deg);
        transition: top 200ms, transform 200ms 200ms;
      }

      &::after {
        content: '';
        display: block;
        background-color: black;
        height: 3px;
        border-radius: 3px;
        position: relative;
        top: -3px;
        transform: rotate(-45deg);
        transition: top 200ms, transform 200ms 200ms;
      }
    }
  }
}
