/*---
title: Flexbox
section: Generic
order: 1
*/

/* @TODO add this to quantum */

.qu-flex {
  display: flex;
  flex-wrap: wrap;

  &.flex--column {
    flex-direction: column;
  }
  &.flex--row {
    flex-direction: row;
  }
  &.justify--between {
    justify-content: space-between;
  }
  &.justify--around {
    justify-content: space-around;
  }
  &.justify--center {
    justify-content: center;
  }
  &.align--center {
    align-items: center;
  }
  &.align--start {
    align-items: flex-start;
  }

  /**
    Create a grid Layout
    */
  &-grid {
    flex-wrap: wrap;
    margin: -1rem;

    @mixin atSmall {
      flex-direction: row;
    }

    &.cols-2 {
      .qu-flex-grid__item {
        padding: 1rem;

        @mixin atSmall {
          width: calc((100% / 2));
        }
      }
    }
    &.cols-3 {
      .qu-flex-grid__item {
        padding: 1rem;

        @mixin atSmall {
          width: calc((100% / 3));
        }
      }
    }
    &.cols-4 {
      .qu-flex-grid__item {
        padding: 1rem;

        @mixin atSmall {
          width: calc((100% / 4));
        }
      }
    }
    &.cols-5 {
      .qu-flex-grid__item {
        padding: 1rem;

        @mixin atSmall {
          width: calc((100% / 5));
        }
      }
    }
    &.cols-6 {
      .qu-flex-grid__item {
        padding: 1rem;

        @mixin atSmall {
          width: calc((100% / 6));
        }
      }
    }
  }
}
