/*---
title: Global Variables
section: Generic
order: 0
*/

:root {
  /* LAYOUT */
  --max-site-width: 1600px;
  --site-spacing-left: clamp(1rem, 5vw, 8rem);
  --site-spacing-right: clamp(1rem, 5vw, 8rem);

  /* FRONT */
  --font-primary: sans-serif;

  /* COLORS */
  /* primary */
  --color-primary: hsl(0, 0%, 50%);
  --color-primary--lighten: hsl(0, 0%, 75%);
  --color-primary--light: hsl(0, 0%, 99%);
  --color-primary--darken: hsl(0, 0%, 35%);
  --color-primary--dark: hsl(0, 0%, 1%);
}
