/*---
title: Global Variables
section: Generic
order: 0
*/

:root {
  /* LAYOUT 
  *
  *     see 1-nucleus/_container/_container.css
  */
  --max-site-width: 1600px;
  --site-spacing-left: clamp(1rem, 5vw, 8rem);
  --site-spacing-right: clamp(1rem, 5vw, 8rem);

  /* COLORS */
  --color-primary: hsl(0, 0%, 50%);
  --color-secondary: hsl(0, 0%, 75%);
  --color-accent: hsl(20, 10%, 50%);
  --color-text: hsl(0, 0%, 20%);
  --color-body-bg: hsl(0, 0%, 100%);
}
