/*---
title: Breakpoints
section: Generic
order: 1
*/

@define-mixin atSmall {
  @media (min-width: 640px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1024px) {
    @mixin-content;
  }
}

@define-mixin atExtraLarge {
  @media (min-width: 1280px) {
    @mixin-content;
  }
}
