.site-header {
  background-color: var(--color-secondary);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__branding {
      &__logo {
        max-height: 6rem;
        min-width: 100%;
      }
    }

    &__mobile-btn {
      @mixin atLarge {
        display: none;
      }
    }
  }
}
