input {
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
  }

  &[type='text'],
  &[type='email'],
  &[type='password'] {
    width: 100%;
  }

  &[type='submit'] {
    border: none;
  }
}
