/*
 * This file is for custom styles on general html elements
 *
 *
 */

/* set default list-style to disc and align items to parent element*/
ul,
ol {
	list-style: disc inside;
}

/* no list-style for list-items inside a nav */
nav li {
	list-style: none;
}

/* set default style for definition lists */
dt {
	font-weight: bold;
}
dd {
	margin: 0;
	padding: 0 0 0.5em 1em;
}

/* set default font-style of address to normal instead of italic */
address {
	font-style: normal;
}

/* set default link style  */
a {
	text-decoration: underline;

	&:hover {
		fcursor: pointer;
	}
}
