html {
	/*
	Asuming a default root font-size of 16px by browsers 
	the Quantum Theme using 1rem as 10px 
	*/
	font-size: 62.5%;
	font-family: sans-serif;
}

/*
Set every element to 18px as a proper base
*/
* {
	/* 18px */
	font-size: 1.8rem;
	line-height: 1.5;
}

h1 {
	/* 40px */
	font-size: 4rem;
}
h2 {
	/* 32px */
	font-size: 3.2rem;
}
h3 {
	/* 26px */
	font-size: 2.6rem;
}
h4 {
	/* 22px */
	font-size: 2.2rem;
}
h5 {
	/* 20px */
	font-size: 2rem;
}
h6 {
	/* 20px */
	font-size: 2rem;
}
