.qu-container {
  position: relative;
  max-width: var(--max-site-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--site-spacing-left);
  padding-right: var(--site-spacing-right);
}
