#site-navigation .menu {
  display: flex;
  align-items: center;
  position: relative;

  .menu-item {
    margin-left: 1rem;

    > a {
      display: inline-block;
      padding: 1rem;
      position: relative;
    }

    > a::after {
      content: "";
      width: 0%;
      height: 4px;
      display: block;
      position: absolute;
      background: $primary-color;
      left: 0;
      bottom: 0;
      transition: width 350ms ease 300ms;
    }

    > a:hover::after {
      content: "";
      width: 100%;
      height: 4px;
      display: block;
      position: absolute;
      background: $primary-color;
      left: 0;
      bottom: 0;
      transition: width 350ms ease 300ms;
    }

    &.current-menu-item {
      > a::after {
        content: "";
        width: 100%;
        height: 4px;
        display: block;
        position: absolute;
        background: $primary-color;
        left: 0;
        bottom: 0;
      }
    }
  }

  .sub-menu {
    display: none;
    top: 2rem;
    position: absolute;

    .menu-item {
      > a {
        display: inline-block;
        padding: 1rem 2rem;
      }
    }
  }
}
