/*
This is the main style file for the Quantum Theme.
Using gulp with postcss to create the theme style.
*/

/* GENERIC */
@import '0-generic/_normalize';
@import '0-generic/_custom-reset';

/* NUCLEUS */
@import '1-nucleus/_colors';
@import '1-nucleus/_typography';
@import '1-nucleus/_breakpoints';

/* ATOMS */
@import '2-atoms/_headings/_headings.css';
@import '2-atoms/_paragraphs/_paragraphs.css';
@import '2-atoms/_links/_links.css';
@import '2-atoms/_buttons/_mobile-site-nav-burger-btn.css';

/* MOLECULES */

/* ORGANISMS */
@import '4-organisms/_site-headers/_site-header.css';
@import '4-organisms/_site-navs/_site-nav.css';
@import '4-organisms/_site-navs/_mobile-site-nav.css';
