#mobile-site-navigation .menu {
  display: none;
  background: var(--color-secondary);
  right: 0;
  z-index: 99;
  position: absolute;
  border-radius: 0.1rem;
  width: 100%;

  .menu-item {
    > a {
      display: block;
      padding: 1.5rem 1rem;
      font-weight: 300;
      color: var(--color-text);
    }
  }

  .menu-item-has-children {
    > a {
      display: flex;
      justify-content: space-between;
      padding: 1rem 2rem;
      position: relative;
    }
  }

  .sub-menu {
    display: none;
    margin-left: 1rem;

    &-indicator {
      display: flex;
      align-items: center;
      padding-left: 16px;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      min-width: 60px;
      z-index: 99;
      border: 1px solid;
      cursor: help;
    }
  }
}
