/*---
title: Typography
section: Nucleus
order: 2
*/

html {
  /*
	Asuming a default root font-size of 16px by browsers 
	the Quantum Theme using 1rem as 10px 
	*/
  font-size: 62.5%;
  font-family: var(--font-primary);
}

/*
Set every element to 18px as a proper base
*/
body {
  /* 18px */
  /* font-size: 1.8rem; */
  font-size: clamp(1.4rem, 1.6vw, 1.8rem);
  line-height: 1.5;
  color: var(--color-primary--dark);
}
